h5py==2.10.0
numpy==1.16.5
scipy==1.4.1
tensorboard==2.2.1
tensorflow-cpu==2.9.3
torch==1.5.0
torchvision==0.6.0
visdom==0.1.8.9
open3d==0.8.0.0
kornia==0.1.4.post2
imageio==2.5.0
progressbar==2.5
matplotlib==3.0.3
scikit-video==1.1.11
tqdm==4.32.0
transforms3d==0.3.1
pandas==0.24.2
p_tqdm
plyfile
blessings
Path
tensorboardX
pyyaml
Pillow